/* Base */
/* ----------------------------------------------------------*/
html {
  position: relative;
  min-height: 100%;
}
body{
  font-family: $primary-font;
  font-size: 1.6em;
  color: $font-color;
  background-color: $bg-color;
  padding: 0px 0 0;
  margin: 0 0 0px;
  line-height: 2em;
  
}
body.bg-neutral{
  color: $font-color;
  background-color: $bg-color;
}

a{
  color: $link-color;
  &:hover{
    color: $link-color;
    text-decoration: underline; 
  }
}
h1{font-size: 48px; font-family: $heading-font; }
h2{font-size: 36px; font-family: $heading-font;}
p{margin: 30px 0; color: $font-color;}
.page-title{
  font-size: 64px;
  text-align: center;
  margin: 50px 0px 20px;
}
.page-intro{
  font-family: $heading-font;
  text-align: center;
  font-size: 24px;
}
.centered{
  text-align: center;
  *{
    text-align: center;
  }
}
article p {
  margin-top: 0;
}
hr{
  background: rgba(black, 0.1);
  border-color: rgba(black, 0.1);
  &.gap{
    margin-top: 100px;
  }
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  font-size: .8em;
  font-family: $primary-font;
}



/* common elements */
/* ----------------------------------------------------------*/
.site-title{
  background: transparent url(/assets/img/logo-small.png) no-repeat center center;
  height: 80px;
  width: 100%;
  background-size: auto 100%;
  display: block;
}
nav{
  position: absolute; 
  top: 30px; 
  right: 0px; 
  font-family: $primary-font;
  font-size: 16px;
  a{
    color: $link-color;
    text-transform: uppercase;
    margin-left: 20px;
  }

}
.back-btn{
  background: transparent url(/assets/img/arrow-left.svg) no-repeat center center;
  position: fixed;
  width: 39px;
  height: 27px;
  left: 4%;
  top: 56px;
  z-index: 1000;
  @media (max-width: 768px){
    background-color: white;
    border-radius: 30px;
    background-size: 20px auto;
    height: 40px;
    width: 40px;
    top: 15px;
    left: 15px;
    &:active, &:hover{
      background-color: blue;
    }
  } 

}
.row {
  
  &.outline img{
    border: 1px solid #ccc;
    margin-bottom: 30px;
  }
  img{
    max-width: 100%;
  }
}

.spinner {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 50%;
  left: 50%; 
  margin: -20px 0 0 -20px; 
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
